* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'SF Pro Display', 'Arial', sans-serif;
  font-size: 12px;
  line-height: 1.42857143;
  color: #333;
  background-color: #f1f0f1;
}

input:focus {
  outline: none;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.w-100 {
  width: 100%;
}

.op-1 {
  opacity: 1 !important;
  display: block !important;
}

img {
  object-fit: contain;
}

ul {
  li {
    list-style: none;
  }
}

.has-hover {
  transition: all 1.2s ease-out 0s;
}

#sticky-banner1 {
  position: fixed;
  left: 0;
  top: 175px;
  z-index: 9999;
}
#sticky-banner2 {
  position: fixed;
  right: 0;
  top: 175px;
  z-index: 9999;
}

.header__container {
  background-color: #f1f0f1;
  display: inline-block;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  .header {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #d4d4d4;
    .container {
      .left_header {
        float: left;
        width: 15%;
        padding: 0px 10px;
      }
      .right_header {
        float: right;
        width: 85%;
        .search_container {
          display: flex;
          .search {
            background-color: white;
            width: 50%;
            border: 2px solid #e1e1e1;
            border-radius: 30px;
            position: relative;
            form {
              input {
                margin: 4px 10px;
                border: none;
                width: 90%;
                font-size: 12px;
              }
            }
            button {
              position: absolute;
              right: 0;
              top: -2px;
              float: right;
              width: 40px;
              height: 29px;
              background-color: red;
              color: white;
              border: 1px solid #ea1c00;
              border-radius: 0% 50% 50% 0%;
              &:hover {
                cursor: pointer;
              }
            }
          }
          .list_item {
            width: 50%;
            display: flex;
            justify-content: space-evenly;
            white-space: nowrap;
            a {
              text-decoration: none;
              span {
                position: relative;
                bottom: 10px;
                color: #010101;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 11px;
              }
            }
          }
        }
        .list-gearvn {
          margin-top: 8px;
          ul {
            display: flex;
            padding: 0;
            li {
              display: flex;
              list-style-type: none;
              margin-right: 25px;
              padding-right: 25px;
              border-right: 2px solid #ea1c00;
              img {
                width: 20px;
                height: 20px;
                margin-right: 10px;
              }
              span {
                font-size: 14px;
                font-weight: 600;
                a {
                  text-decoration: none;
                }
              }
            }
            li:nth-child(5) {
              border-right: none;
            }
          }
        }
      }
    }
  }
}

.gearvn-content-section {
  width: 100%;
  padding: 5px 10px 8px 10px;
  .container {
    display: flex;
    .list-item {
      display: flex;
      align-items: center;
      &:hover {
        cursor: pointer;
      }
      background-color: #e30019;
      border-radius: 4px;
      padding: 8px 12px;
      white-space: nowrap;
      .text {
        font-size: 13px;
        color: white;
        font-weight: 600;
        margin-left: 10px;
      }
    }
    .list-select {
      padding: 7px;
      border: 1px solid #505050;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      margin: 0px 4px;
      text-decoration: none;
      flex: 1;
      div {
        display: flex;
        margin: 0 10px;
        span {
          color: #505050 !important;
          font-size: 11px;
          text-transform: uppercase;
          font-weight: 550;
          align-self: center;
          position: relative;
          left: 10px;
          white-space: nowrap;
        }
      }
    }
  }
}

.gearvn-header-navigation {
  position: relative;
  background-color: #f1f0f1;
  z-index: 999;
  margin-top: 190px;
  .container {
    display: flex;
    .list-product {
      padding: 0px 10px;
      ul {
        border-radius: 10px;
        background-color: white;
        a {
          text-decoration: none;
          li {
            white-space: nowrap;
            overflow: hidden;
            &:hover {
              background: #ea1c04;
              color: white;
            }
            color: #010101;
            font-weight: 500;
            font-size: 13px;
            padding: 12px 16px 6px 10px;
            list-style-type: none;
          }
          img {
            max-width: 20px;
          }
        }
      }
    }
    .banner-container {
      .left {
        float: left;
        width: 67%;
      }
      .right {
        float: left;
        width: 33%;
      }
    }
  }
}

#flashSaleComponent {
  margin-top: 20px;
  .flashsale {
    padding: 0 10px;
    .container {
      padding: 12px 14px;
      background-color: #350060;
      border-radius: 5px;
      .section-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
        .box-left {
          color: red;
          display: flex;
          .box-countdown {
          }
          .box-header {
            .title {
              color: #ffee12;
              font-weight: 900;
              font-size: 32px;
            }
          }
        }
        .box-right {
          color: white;
          a {
            text-decoration: none;
            font-weight: 400;
            font-size: 18px;
            color: #fff;
          }
        }
      }
    }
  }
}

#bannerComponent {
  .banner {
    padding: 0 10px;
    margin-top: 10px;
    .container {
      div:nth-child(1) {
        padding-right: 10px;
      }
      div:nth-child(2) {
        padding-left: 10px;
      }
      img {
        border-radius: 5px !important;
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  #sticky-banner1,
  #sticky-banner2 {
    display: none;
  }
}

@media screen and (min-width: 1300px) {
  .container {
    width: 1310px !important;
    margin: auto;
  }
  .header__container {
    .header {
      .container {
        width: 1310px !important;
        margin: auto;
      }
    }
  }

  .gearvn-content-section {
    width: 1310px !important;
    margin: auto;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .container {
    width: 1170px !important;
    margin: auto;
  }

  .header__container {
    .header {
      .container {
        width: 1170px !important;
        margin: auto;
      }
    }
  }
  .gearvn-content-section {
    width: 1170px !important;
    margin: auto;
  }
}

@media screen and (max-width: 1200px) {
  .gearvn-header-navigation {
    .right {
      display: none;
    }
  }
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
  .container {
    width: 970px;
    margin: auto;
  }

  .header__container {
    .header {
      .container {
        width: 970px;
        margin: auto;
        .right_header {
          width: 80%;
          .list_item {
            width: 50%;
            a {
              span {
                font-size: 10px !important;
              }
            }
          }
          .list-gearvn {
            ul {
              li {
                span {
                  a {
                    font-size: 11px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .gearvn-content-section {
    width: 970px;
    margin: auto;
  }

  .gearvn-header-navigation {
    .banner-container {
      .left {
        width: 100% !important;
      }
    }
  }
}

@media screen and (max-width: 999.9px) {
  .header-banner {
    display: none;
  }

  .gearvn-header-navigation {
    margin-top: 80px !important;
    .list-product {
      display: none;
    }
    .banner-container {
      width: 100%;
      padding: 0px 10px;
      .left {
        width: 100% !important;
        div {
          a {
            flex: 1;
          }
        }
      }
    }
  }

  .header__container {
    .gearvn-content-section .container .list-item .text {
      display: none;
    }

    .gearvn-content-section .container .list-item i {
      font-size: 22px;
    }

    .header {
      border-bottom: none;
      .container {
        .left_header {
          position: relative;
          width: 62%;
          display: flex;
          justify-content: end;
        }
        .right_header {
          position: relative;
          top: 15px;
          width: 19%;
          .search_container {
            .search {
              display: none;
            }
            .list_item {
              a:nth-child(-n + 3) {
                display: none !important;
              }
              a:nth-child(4) {
                display: block !important;
              }
            }
          }
          .list-gearvn {
            display: none !important;
          }
        }
      }
    }
    .gearvn-content-section {
      position: fixed;
      top: 14px;
      .container {
        .list-select {
          display: none !important;
        }
      }
    }
  }
}

//Slider CSS
#sliderComponent {
  .mySwiper {
    width: 100%;
    height: 100%;
  }

  .swiper-wrapper {
    max-width: 0px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#slider_list_product {
  padding: 10px 20px;

  .mySwiper-product {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    .title {
      margin-top: 20px;
      text-align: left;
      a {
        text-decoration: none;
        color: #333333;
        line-height: 16px;
        font-size: 14px;
        font-weight: 600;
        display: inline-block;
      }
    }
    .old_price {
      font-size: 13px;
      font-weight: 600;
      line-height: 16px;
      color: #6d6e72;
      text-decoration: line-through;
      text-align: left;
    }
    .new_price {
      display: flex;
      justify-content: space-between;
      .number {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        color: #e30019;
      }
      .percentage {
        border-radius: 2px;
        padding: 0px 2px;
        border: 1px solid #e30019;
        color: #e30019;
        font-size: 13px;
        font-weight: 600;
      }
    }
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// Grid system
#galleryComponent {
  margin-top: 20px;
  .gallery {
    padding: 0 10px;
  }
  .container {
    border-radius: 3px;
    background-color: white;
    .title {
      padding: 12px 24px;
      border-bottom: 1px solid #ececec;
      a {
        color: #333333;
        text-decoration: none;
        font-size: 20px;
        &:hover {
          color: #e30019;
        }
      }
    }
    .grid-container {
      display: grid;
      padding: 0 20px;
      grid-template-columns: repeat(10, 1fr);
      .item-icon {
        margin: 16px 16px;
        text-align: center;
        .item-img {
          a {
            img {
              width: 84px;
              height: 84px;
              object-fit: contain;
            }
          }
        }
      }
      .item-title {
        h3 {
          a {
            text-decoration: none;
            color: #333333;
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  #galleryComponent {
    .grid-container {
      grid-template-columns: repeat(8, 1fr) !important;
    }
  }
}

@media screen and (max-width: 1200px) {
  #galleryComponent {
    .grid-container {
      grid-template-columns: repeat(6, 1fr) !important;
    }
  }
}

@media screen and (max-width: 900px) {
  #galleryComponent {
    .grid-container {
      grid-template-columns: repeat(5, 1fr) !important;
    }
  }
}

@media screen and (max-width: 768px) {
  #galleryComponent {
    .grid-container {
      grid-template-columns: repeat(4, 1fr) !important;
    }
  }
}

@media screen and (max-width: 576px) {
  #galleryComponent {
    .grid-container {
      grid-template-columns: repeat(3, 1fr) !important;
    }
  }
}

//Footer
#footerComponent {
  .footer {
    .footer__1 {
      margin-top: 20px;
      background-color: white;
      .fluid-container {
        max-width: 1220px;
        margin-left: auto;
        margin-right: auto;
        padding: 5px 10px;
        border-bottom: 1px solid #ececec;
        .grid {
          display: grid;
          grid-template-columns: repeat(3, 1fr) 300px 350px;
          .column {
            .footer-col {
              margin-top: 40px;
              color: #333333;
              .footer-title {
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                font-family: Arial, Helvetica, sans-serif;
                line-height: 22px;
                margin-bottom: 12px;
              }
              .footer-content {
                color: #111111;
                font-size: 14px;
                font-weight: 400;
                line-height: 2;
                ul {
                  li {
                    a {
                      &:hover {
                        text-decoration: underline;
                        color: #e30019;
                      }
                    }
                  }
                }
                .list-pay {
                  display: flex;
                  gap: 3px;
                  img {
                    max-width: 100%;
                  }
                }
                .list-ship {
                  display: flex;
                  img {
                    max-width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
    .footer__2 {
      padding-top: 30px;
      background-color: white;
      .fluid-container {
        max-width: 1220px;
        margin-left: auto;
        margin-right: auto;
        .line {
          align-items: center;
          justify-content: space-between;
          padding: 0 30px;
          .icon-container {
            align-items: center;
            justify-content: space-between;
            width: 84%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  #footerComponent {
    .grid {
      grid-template-columns: 1fr 1fr !important;
    }
  }
}

@media screen and (max-width: 1000px) {
  #footerComponent {
    .icon-container {
      width: 70% !important;
    }
    .line {
      padding: 0 8npx !important;
    }
  }
}

//Laptop

#laptopComponent {
  .laptop {
    margin-top: 20px;
    padding: 0 10px;
    .container {
      background-color: white;
      .section-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 28px 12px 24px;
        .box-left {
          display: flex;
          align-items: center;
          .box-header {
            a {
              text-decoration: none;
              font-weight: 600;
              font-size: 20px;
              line-height: 22px;
              color: #e30019;
            }
          }
          .box-subheader {
            .title {
              font-size: 14px;
              font-weight: 600;
              padding-left: 21px;
              line-height: 22px;
              margin-left: 20px;
              position: relative;
              svg {
                width: 22px;
                height: 14px;
              }
            }
            ::before {
              position: absolute;
              top: 0;
              left: 0;
              content: '';
              width: 1px;
              height: 85%;
              background: #97999d;
            }
          }
        }
        .box-right {
          display: flex;
          ul {
            display: flex;
            li {
              padding: 5px 16px;
              a {
                font-weight: 400;
                font-size: 14px;
                color: #333333;
                text-transform: uppercase;
                text-decoration: none;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                &:hover {
                  color: #e30019;
                  cursor: pointer;
                }
              }
            }
          }
          h2 {
            a {
              padding: 5px 16px;
              text-decoration: none;
              font-weight: 400;
              font-size: 14px;
              line-height: 22px;
              color: #1982f9;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
      .section-content {
        .mySwiper-laptop {
          width: 100%;
          height: 100%;
          padding: 0 5px;
        }
        .swiper-slide {
          background-color: white;
          padding: 15px;
          border-radius: 5px;
          text-align: center;
          font-size: 18px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 10px;
          border: 1px solid #ececec;
          .title {
            margin-top: 20px;
            text-align: left;
            a {
              text-decoration: none;
              color: #333333;
              line-height: 16px;
              font-size: 14px;
              font-weight: 600;
              display: inline-block;
            }
          }
          .old_price {
            font-size: 13px;
            font-weight: 600;
            line-height: 16px;
            color: #6d6e72;
            text-decoration: line-through;
            text-align: left;
          }
          .new_price {
            display: flex;
            justify-content: space-between;
            .number {
              font-size: 16px;
              font-weight: 600;
              line-height: 20px;
              color: #e30019;
            }
            .percentage {
              border-radius: 2px;
              padding: 0px 2px;
              border: 1px solid #e30019;
              color: #e30019;
              font-size: 13px;
              font-weight: 600;
            }
          }
          button {
            background-color: #e30019;
            border: none;
            color: white;
            width: 100%;
            text-transform: uppercase;
            padding: 10px 20px;
            margin-top: 10px;
            &:hover {
              cursor: pointer;
              background-color: #e3001aa0;
            }
          }
        }

        .swiper-slide img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .box-left {
    .box-subheader {
      display: none !important;
    }
  }
}

@media screen and (max-width: 1000px) {
  .section-heading {
    display: block !important;
    .box-left {
      justify-content: space-between;
    }
    .box-right {
      margin-top: 15px;
      justify-content: space-between !important;
      ul {
        li {
          padding: 5px 20px 0 0 !important;
        }
      }
    }
  }
}

#sidebar-menu {
  background-color: white;
  opacity: 0.5;
  z-index: 10000;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 50%;
  display: none;
  .wrapper {
    .header {
      background-color: #e30019;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 16px;
      text-transform: uppercase;
    }
    h2 {
      color: white;
      font-size: 14px;
    }
  }
  .main {
    .main-list {
      .main-item {
        padding: 12px 16px 10px 20px;
        border-bottom: 1px solid #ececec;
        a {
          text-decoration: none;
          margin-bottom: 5px;
        }
        left-main {
          span {
            color: #333333;
          }
        }
        .left-main {
          color: #111111;
          font-weight: 600;
        }
        .render_sub-menu {
          width: 20px;
          height: 20px;
          text-align: center;
        }
        .sub-menu {
          display: none;
          li {
            padding: 12px 0;
            a {
              color: #333333;
              font-size: 13px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

#site-overlay {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1001;
  transition: all 200ms linear;
  opacity: 0;
  display: none;
}

#exit-button {
  :hover {
    cursor: pointer;
  }
}

// Cart Component

#cartComponent {
  margin-top: 200px;
  .cart {
    .container {
      .cart-wrapper {
        width: 50%;
        margin: 0 auto;
        background-color: white;
        padding: 8px;
        .header {
          background-color: #ffeded;
          text-align: center;
          padding: 10px;
          .icon {
            svg {
              width: 28px;
            }
          }
          .text {
            font-size: 14px;
            font-weight: 600;
            color: #e30019;
          }
        }
        .cart-container {
          padding: 16px 24px 24px;
          .list-item {
            padding-bottom: 20px;
            border-bottom: 1px solid #cfcfcf;
            .item {
              display: flex;
              margin-top: 32px;
              .left {
                .item-img {
                  width: 90px;
                  height: 90px;
                  img {
                    max-width: 100%;
                    object-fit: contain;
                  }
                }
                .item-remove {
                  margin-top: 10px;
                  .remove {
                    text-align: center;
                    font-size: 14px;
                    a {
                      &:hover {
                        span {
                          color: #e30019;
                        }
                        cursor: pointer;
                      }
                      span {
                        color: #6d6e72;
                        margin-left: 5px;
                      }
                    }
                  }
                }
              }
              .right {
                display: flex;
                justify-content: space-between;
                margin-left: 8px;
                width: calc(100% - 98px);
                .item-info {
                  width: 70%;
                }
                .item-meta {
                  .item-price {
                    text-align: right;
                    margin-bottom: 10px;
                    .item_new-price {
                      font-size: 18px;
                      color: #e30019;
                      font-weight: 600;
                    }
                    .item_old-price {
                      font-size: 14px;
                      color: #6d6e72;
                      text-decoration: line-through;
                    }
                  }
                  .item-quan {
                    .quantity-click {
                      display: flex;
                      button {
                        background: white;
                        border: 1px solid #cfcfcf;
                        padding: 7px;
                        :hover {
                          cursor: pointer;
                        }
                      }
                      input {
                        border: 1px solid #cfcfcf;
                        height: 32px;
                        width: 50px;
                        text-align: center;
                      }
                    }
                  }
                }
              }
            }
          }
          .section-total {
            padding-top: 24px;
            .shipping {
              display: flex;
              justify-content: space-between;
              padding-bottom: 8px;
              .title,
              .shipprice {
                font-size: 16px;
                font-weight: 600;
              }
            }
            .total {
              display: flex;
              justify-content: space-between;
              margin-bottom: 24px;
              .title {
                font-size: 18px;
                font-weight: 600;
              }
              .totalprice {
                color: #e30019;
                font-size: 24px;
                font-weight: 600;
              }
            }
            .action {
              &:hover {
                cursor: pointer;
              }
              h2 {
                text-align: center;
                background-color: #e30019;
                color: white;
                padding: 20px 0;
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }
  }
}
