* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.42857143;
  color: #333;
}

input:focus {
  outline: none;
}

.grid {
  display: grid;
}

.w-100 {
  width: 100%;
}

#sticky-banner1 {
  position: fixed;
  left: 0;
  top: 175px;
  z-index: 9999;
}
#sticky-banner2 {
  position: fixed;
  right: 0;
  top: 175px;
  z-index: 9999;
}

.header__container {
  background-color: #f1f0f1;
  display: inline-block;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  .header {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #d4d4d4;
    .container {
      .left_header {
        float: left;
        width: 15%;
        padding: 0px 10px;
      }
      .right_header {
        float: right;
        width: 85%;
        .search_container {
          display: flex;
          .search {
            background-color: white;
            width: 50%;
            border: 2px solid #e1e1e1;
            border-radius: 30px;
            position: relative;
            form {
              input {
                margin: 4px 10px;
                border: none;
                width: 90%;
                font-size: 12px;
              }
            }
            button {
              position: absolute;
              right: 0;
              top: -2px;
              float: right;
              width: 40px;
              height: 29px;
              background-color: red;
              color: white;
              border: 1px solid #ea1c00;
              border-radius: 0% 50% 50% 0%;
              &:hover {
                cursor: pointer;
              }
            }
          }
          .list_item {
            width: 50%;
            display: flex;
            justify-content: space-evenly;
            a {
              text-decoration: none;
              span {
                position: relative;
                bottom: 10px;
                color: #010101;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 11px;
              }
            }
          }
        }
        .list-gearvn {
          margin-top: 3px;
          ul {
            display: flex;
            padding: 0;
            li {
              display: flex;
              list-style-type: none;
              margin-right: 25px;
              padding-right: 25px;
              border-right: 2px solid #ea1c00;
              img {
                width: 20px;
                height: 20px;
                margin-right: 10px;
              }
              span {
                font-size: 14px;
                font-weight: 600;
                a {
                  text-decoration: none;
                }
              }
            }
            li:nth-child(5) {
              border-right: none;
            }
          }
        }
      }
    }
  }
}

.gearvn-content-section {
  width: 100%;
  padding: 5px 10px 8px 10px;
  .container {
    display: flex;
    .list-item {
      background-color: #505050;
      border-radius: 4px;
      padding: 8px 12px;
      .text {
        font-size: 13px;
        color: white;
        font-weight: 600;
      }
    }
    .list-select {
      padding: 7px;
      border: 1px solid #505050;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      margin: 0px 4px;
      text-decoration: none;
      flex: 1;
      div {
        display: flex;
        span {
          color: #505050 !important;
          font-size: 11px;
          text-transform: uppercase;
          font-weight: 500;
          align-self: center;
          position: relative;
          left: 10px;
        }
      }
    }
  }
}

.gearvn-header-navigation {
  position: relative;
  background-color: #f1f0f1;
  z-index: 999;
  margin-top: 175px;
  .container {
    display: flex;
    .list-product {
      border-radius: 3px;
      padding: 0px 10px;
      ul {
        background-color: white;
        a {
          text-decoration: none;
          li {
            white-space: nowrap;
            overflow: hidden;
            &:hover {
              background: #ea1c04;
              color: white;
            }
            color: #010101;
            font-weight: 500;
            font-size: 13px;
            padding: 12px 10px 6px 10px;
            list-style-type: none;
          }
          img {
            max-width: 20px;
          }
        }
      }
    }
    .banner-container {
      .left {
        float: left;
        width: 67%;
      }
      .right {
        float: left;
        width: 33%;
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  #sticky-banner1,
  #sticky-banner2 {
    display: none;
  }
}

@media screen {
}

@media screen and (min-width: 1300px) {
  .container {
    width: 1310px !important;
    margin: auto;
  }
  .header__container {
    .header {
      .container {
        width: 1310px !important;
        margin: auto;
      }
    }
  }

  .gearvn-content-section {
    width: 1310px !important;
    margin: auto;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .container {
    width: 1170px !important;
    margin: auto;
  }

  .header__container {
    .header {
      .container {
        width: 1170px !important;
        margin: auto;
      }
    }
  }
  .gearvn-content-section {
    width: 1170px !important;
    margin: auto;
  }
}

@media screen and (max-width: 1200px) {
  .gearvn-header-navigation {
    .right {
      display: none;
    }
  }
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
  .container {
    width: 970px;
    margin: auto;
  }

  .header__container {
    .header {
      .container {
        width: 970px;
        margin: auto;
        .right_header {
          width: 80%;
          .list_item {
            width: 50%;
            a {
              span {
                font-size: 10px !important;
              }
            }
          }
          .list-gearvn {
            ul {
              li {
                span {
                  a {
                    font-size: 11px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .gearvn-content-section {
    width: 970px;
    margin: auto;
  }

  .gearvn-header-navigation {
    .banner-container {
      .left {
        width: 100% !important;
      }
    }
  }
}

@media screen and (max-width: 999.9px) {
  .header-banner {
    display: none;
  }

  .gearvn-header-navigation {
    .list-product {
      display: none;
    }
    .banner-container {
      width: 100%;
      padding: 0px 10px;
      .left {
        width: 100% !important;
        div {
          a {
            flex: 1;
          }
        }
      }
    }
  }

  .header__container {
    .header {
      .container {
        .left_header {
          position: relative;
        }
        .right_header {
          position: relative;
          width: 65%;
          .search_container {
            .search {
              width: 70% !important;
            }
            .list_item {
              a:nth-child(-n+3) {
                display: none !important;
              }
              a:nth-child(4) {
                display: block !important;
              }
            }
          }
          .list-gearvn {
            display: none !important;
          }
        }
      }
    }
    .gearvn-content-section {
      .container {
        .list-select {
          display: none !important;
        }
      }
    }
  }
}

//Slider CSS

.mySwiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  max-width: 0px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
