* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "SF Pro Display", "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.42857143;
  color: #333;
  background-color: #f1f0f1;
}

input:focus {
  outline: none;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.w-100 {
  width: 100%;
}

ul li {
  list-style: none;
}

.has-hover {
  transition: all 1.2s ease-out 0s;
}

#sticky-banner1 {
  position: fixed;
  left: 0;
  top: 175px;
  z-index: 9999;
}

#sticky-banner2 {
  position: fixed;
  right: 0;
  top: 175px;
  z-index: 9999;
}

.header__container {
  background-color: #f1f0f1;
  display: inline-block;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}
.header__container .header {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #d4d4d4;
}
.header__container .header .container .left_header {
  float: left;
  width: 15%;
  padding: 0px 10px;
}
.header__container .header .container .right_header {
  float: right;
  width: 85%;
}
.header__container .header .container .right_header .search_container {
  display: flex;
}
.header__container .header .container .right_header .search_container .search {
  background-color: white;
  width: 50%;
  border: 2px solid #e1e1e1;
  border-radius: 30px;
  position: relative;
}
.header__container .header .container .right_header .search_container .search form input {
  margin: 4px 10px;
  border: none;
  width: 90%;
  font-size: 12px;
}
.header__container .header .container .right_header .search_container .search button {
  position: absolute;
  right: 0;
  top: -2px;
  float: right;
  width: 40px;
  height: 29px;
  background-color: red;
  color: white;
  border: 1px solid #ea1c00;
  border-radius: 0% 50% 50% 0%;
}
.header__container .header .container .right_header .search_container .search button:hover {
  cursor: pointer;
}
.header__container .header .container .right_header .search_container .list_item {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
.header__container .header .container .right_header .search_container .list_item a {
  text-decoration: none;
}
.header__container .header .container .right_header .search_container .list_item a span {
  position: relative;
  bottom: 10px;
  color: #010101;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 11px;
}
.header__container .header .container .right_header .list-gearvn {
  margin-top: 3px;
}
.header__container .header .container .right_header .list-gearvn ul {
  display: flex;
  padding: 0;
}
.header__container .header .container .right_header .list-gearvn ul li {
  display: flex;
  list-style-type: none;
  margin-right: 25px;
  padding-right: 25px;
  border-right: 2px solid #ea1c00;
}
.header__container .header .container .right_header .list-gearvn ul li img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.header__container .header .container .right_header .list-gearvn ul li span {
  font-size: 14px;
  font-weight: 600;
}
.header__container .header .container .right_header .list-gearvn ul li span a {
  text-decoration: none;
}
.header__container .header .container .right_header .list-gearvn ul li:nth-child(5) {
  border-right: none;
}

.gearvn-content-section {
  width: 100%;
  padding: 5px 10px 8px 10px;
}
.gearvn-content-section .container {
  display: flex;
}
.gearvn-content-section .container .list-item {
  background-color: #505050;
  border-radius: 4px;
  padding: 8px 12px;
}
.gearvn-content-section .container .list-item .text {
  font-size: 13px;
  color: white;
  font-weight: 600;
}
.gearvn-content-section .container .list-select {
  padding: 7px;
  border: 1px solid #505050;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin: 0px 4px;
  text-decoration: none;
  flex: 1;
}
.gearvn-content-section .container .list-select div {
  display: flex;
}
.gearvn-content-section .container .list-select div span {
  color: #505050 !important;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
  align-self: center;
  position: relative;
  left: 10px;
}

.gearvn-header-navigation {
  position: relative;
  background-color: #f1f0f1;
  z-index: 999;
  margin-top: 175px;
}
.gearvn-header-navigation .container {
  display: flex;
}
.gearvn-header-navigation .container .list-product {
  border-radius: 3px;
  padding: 0px 10px;
}
.gearvn-header-navigation .container .list-product ul {
  background-color: white;
}
.gearvn-header-navigation .container .list-product ul a {
  text-decoration: none;
}
.gearvn-header-navigation .container .list-product ul a li {
  white-space: nowrap;
  overflow: hidden;
  color: #010101;
  font-weight: 500;
  font-size: 13px;
  padding: 12px 10px 6px 10px;
  list-style-type: none;
}
.gearvn-header-navigation .container .list-product ul a li:hover {
  background: #ea1c04;
  color: white;
}
.gearvn-header-navigation .container .list-product ul a img {
  max-width: 20px;
}
.gearvn-header-navigation .container .banner-container .left {
  float: left;
  width: 67%;
}
.gearvn-header-navigation .container .banner-container .right {
  float: left;
  width: 33%;
}

#flashSaleComponent {
  margin-top: 20px;
}
#flashSaleComponent .flashsale {
  padding: 0 10px;
}
#flashSaleComponent .flashsale .container {
  padding: 12px 14px;
  background-color: #350060;
  border-radius: 5px;
}
#flashSaleComponent .flashsale .container .section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
#flashSaleComponent .flashsale .container .section-heading .box-left {
  color: red;
  display: flex;
}
#flashSaleComponent .flashsale .container .section-heading .box-left .box-header .title {
  color: #ffee12;
  font-weight: 900;
  font-size: 32px;
}
#flashSaleComponent .flashsale .container .section-heading .box-right {
  color: white;
}
#flashSaleComponent .flashsale .container .section-heading .box-right a {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

#bannerComponent .banner {
  padding: 0 10px;
  margin-top: 10px;
}
#bannerComponent .banner .container div:nth-child(1) {
  padding-right: 10px;
}
#bannerComponent .banner .container div:nth-child(2) {
  padding-left: 10px;
}
#bannerComponent .banner .container img {
  border-radius: 5px !important;
}

@media screen and (max-width: 1500px) {
  #sticky-banner1,
  #sticky-banner2 {
    display: none;
  }
}
@media screen and (min-width: 1300px) {
  .container {
    width: 1310px !important;
    margin: auto;
  }
  .header__container .header .container {
    width: 1310px !important;
    margin: auto;
  }
  .gearvn-content-section {
    width: 1310px !important;
    margin: auto;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .container {
    width: 1170px !important;
    margin: auto;
  }
  .header__container .header .container {
    width: 1170px !important;
    margin: auto;
  }
  .gearvn-content-section {
    width: 1170px !important;
    margin: auto;
  }
}
@media screen and (max-width: 1200px) {
  .gearvn-header-navigation .right {
    display: none;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1199px) {
  .container {
    width: 970px;
    margin: auto;
  }
  .header__container .header .container {
    width: 970px;
    margin: auto;
  }
  .header__container .header .container .right_header {
    width: 80%;
  }
  .header__container .header .container .right_header .list_item {
    width: 50%;
  }
  .header__container .header .container .right_header .list_item a span {
    font-size: 10px !important;
  }
  .header__container .header .container .right_header .list-gearvn ul li span a {
    font-size: 11px;
  }
  .gearvn-content-section {
    width: 970px;
    margin: auto;
  }
  .gearvn-header-navigation .banner-container .left {
    width: 100% !important;
  }
}
@media screen and (max-width: 999.9px) {
  .header-banner {
    display: none;
  }
  .gearvn-header-navigation .list-product {
    display: none;
  }
  .gearvn-header-navigation .banner-container {
    width: 100%;
    padding: 0px 10px;
  }
  .gearvn-header-navigation .banner-container .left {
    width: 100% !important;
  }
  .gearvn-header-navigation .banner-container .left div a {
    flex: 1;
  }
  .header__container .header .container .left_header {
    position: relative;
  }
  .header__container .header .container .right_header {
    position: relative;
    width: 65%;
  }
  .header__container .header .container .right_header .search_container .search {
    width: 70% !important;
  }
  .header__container .header .container .right_header .search_container .list_item a:nth-child(-n+3) {
    display: none !important;
  }
  .header__container .header .container .right_header .search_container .list_item a:nth-child(4) {
    display: block !important;
  }
  .header__container .header .container .right_header .list-gearvn {
    display: none !important;
  }
  .header__container .gearvn-content-section .container .list-select {
    display: none !important;
  }
}
#sliderComponent .mySwiper {
  width: 100%;
  height: 100%;
}
#sliderComponent .swiper-wrapper {
  max-width: 0px;
}
#sliderComponent .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sliderComponent .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#slider_list_product {
  padding: 10px 20px;
}
#slider_list_product .mySwiper-product {
  width: 100%;
  height: 100%;
}
#slider_list_product .swiper-slide {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#slider_list_product .swiper-slide .title {
  margin-top: 20px;
  text-align: left;
}
#slider_list_product .swiper-slide .title a {
  text-decoration: none;
  color: #333333;
  line-height: 16px;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
}
#slider_list_product .swiper-slide .old_price {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  color: #6d6e72;
  text-decoration: line-through;
  text-align: left;
}
#slider_list_product .swiper-slide .new_price {
  display: flex;
  justify-content: space-between;
}
#slider_list_product .swiper-slide .new_price .number {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #e30019;
}
#slider_list_product .swiper-slide .new_price .percentage {
  border-radius: 2px;
  padding: 0px 2px;
  border: 1px solid #e30019;
  color: #e30019;
  font-size: 13px;
  font-weight: 600;
}
#slider_list_product .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#galleryComponent {
  margin-top: 20px;
}
#galleryComponent .gallery {
  padding: 0 10px;
}
#galleryComponent .container {
  border-radius: 3px;
  background-color: white;
}
#galleryComponent .container .title {
  padding: 12px 24px;
  border-bottom: 1px solid #ececec;
}
#galleryComponent .container .title a {
  color: #333333;
  text-decoration: none;
  font-size: 20px;
}
#galleryComponent .container .title a:hover {
  color: #e30019;
}
#galleryComponent .container .grid-container {
  display: grid;
  padding: 0 20px;
  grid-template-columns: repeat(10, 1fr);
}
#galleryComponent .container .grid-container .item-icon {
  margin: 16px 16px;
  text-align: center;
}
#galleryComponent .container .grid-container .item-icon .item-img a img {
  width: 84px;
  height: 84px;
  object-fit: contain;
}
#galleryComponent .container .grid-container .item-title h3 a {
  text-decoration: none;
  color: #333333;
  font-size: 12px;
}

@media screen and (max-width: 1300px) {
  #galleryComponent .grid-container {
    grid-template-columns: repeat(8, 1fr) !important;
  }
}
@media screen and (max-width: 1200px) {
  #galleryComponent .grid-container {
    grid-template-columns: repeat(6, 1fr) !important;
  }
}
@media screen and (max-width: 900px) {
  #galleryComponent .grid-container {
    grid-template-columns: repeat(5, 1fr) !important;
  }
}
@media screen and (max-width: 768px) {
  #galleryComponent .grid-container {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}
@media screen and (max-width: 576px) {
  #galleryComponent .grid-container {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}
#footerComponent .footer .footer__1 {
  margin-top: 20px;
  background-color: white;
}
#footerComponent .footer .footer__1 .fluid-container {
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  border-bottom: 1px solid #ececec;
}
#footerComponent .footer .footer__1 .fluid-container .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 300px 350px;
}
#footerComponent .footer .footer__1 .fluid-container .grid .column .footer-col {
  margin-top: 40px;
  color: #333333;
}
#footerComponent .footer .footer__1 .fluid-container .grid .column .footer-col .footer-title {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 22px;
  margin-bottom: 12px;
}
#footerComponent .footer .footer__1 .fluid-container .grid .column .footer-col .footer-content {
  color: #111111;
  font-size: 14px;
  font-weight: 400;
  line-height: 2;
}
#footerComponent .footer .footer__1 .fluid-container .grid .column .footer-col .footer-content ul li a:hover {
  text-decoration: underline;
  color: #e30019;
}
#footerComponent .footer .footer__1 .fluid-container .grid .column .footer-col .footer-content .list-pay {
  display: flex;
  gap: 3px;
}
#footerComponent .footer .footer__1 .fluid-container .grid .column .footer-col .footer-content .list-pay img {
  max-width: 100%;
}
#footerComponent .footer .footer__1 .fluid-container .grid .column .footer-col .footer-content .list-ship {
  display: flex;
}
#footerComponent .footer .footer__1 .fluid-container .grid .column .footer-col .footer-content .list-ship img {
  max-width: 100%;
}
#footerComponent .footer .footer__2 {
  padding-top: 30px;
  background-color: white;
}
#footerComponent .footer .footer__2 .fluid-container {
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
}
#footerComponent .footer .footer__2 .fluid-container .line {
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}
#footerComponent .footer .footer__2 .fluid-container .line .icon-container {
  align-items: center;
  justify-content: space-between;
  width: 84%;
}

@media screen and (max-width: 1200px) {
  #footerComponent .grid {
    grid-template-columns: 1fr 1fr !important;
  }
}
@media screen and (max-width: 1000px) {
  #footerComponent .icon-container {
    width: 70% !important;
  }
  #footerComponent .line {
    padding: 0 8npx !important;
  }
}
#laptopComponent .laptop {
  margin-top: 20px;
  padding: 0 10px;
}
#laptopComponent .laptop .container {
  background-color: white;
}
#laptopComponent .laptop .container .section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 28px 12px 24px;
}
#laptopComponent .laptop .container .section-heading .box-left {
  display: flex;
  align-items: center;
}
#laptopComponent .laptop .container .section-heading .box-left .box-header a {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  color: #e30019;
}
#laptopComponent .laptop .container .section-heading .box-left .box-subheader .title {
  font-size: 14px;
  font-weight: 600;
  padding-left: 21px;
  line-height: 22px;
  margin-left: 20px;
  position: relative;
}
#laptopComponent .laptop .container .section-heading .box-left .box-subheader .title svg {
  width: 22px;
  height: 14px;
}
#laptopComponent .laptop .container .section-heading .box-left .box-subheader ::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 1px;
  height: 85%;
  background: #97999d;
}
#laptopComponent .laptop .container .section-heading .box-right {
  display: flex;
}
#laptopComponent .laptop .container .section-heading .box-right ul {
  display: flex;
}
#laptopComponent .laptop .container .section-heading .box-right ul li {
  padding: 5px 16px;
}
#laptopComponent .laptop .container .section-heading .box-right ul li a {
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#laptopComponent .laptop .container .section-heading .box-right ul li a:hover {
  color: #e30019;
  cursor: pointer;
}
#laptopComponent .laptop .container .section-heading .box-right h2 a {
  padding: 5px 16px;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #1982f9;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#laptopComponent .laptop .container .section-content .mySwiper-laptop {
  width: 100%;
  height: 100%;
  padding: 0 5px;
}
#laptopComponent .laptop .container .section-content .swiper-slide {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ececec;
}
#laptopComponent .laptop .container .section-content .swiper-slide .title {
  margin-top: 20px;
  text-align: left;
}
#laptopComponent .laptop .container .section-content .swiper-slide .title a {
  text-decoration: none;
  color: #333333;
  line-height: 16px;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
}
#laptopComponent .laptop .container .section-content .swiper-slide .old_price {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  color: #6d6e72;
  text-decoration: line-through;
  text-align: left;
}
#laptopComponent .laptop .container .section-content .swiper-slide .new_price {
  display: flex;
  justify-content: space-between;
}
#laptopComponent .laptop .container .section-content .swiper-slide .new_price .number {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #e30019;
}
#laptopComponent .laptop .container .section-content .swiper-slide .new_price .percentage {
  border-radius: 2px;
  padding: 0px 2px;
  border: 1px solid #e30019;
  color: #e30019;
  font-size: 13px;
  font-weight: 600;
}
#laptopComponent .laptop .container .section-content .swiper-slide button {
  background-color: #e30019;
  border: none;
  color: white;
  width: 100%;
  text-transform: uppercase;
  padding: 10px 20px;
  margin-top: 10px;
}
#laptopComponent .laptop .container .section-content .swiper-slide button:hover {
  cursor: pointer;
  background-color: rgba(227, 0, 26, 0.6274509804);
}
#laptopComponent .laptop .container .section-content .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1200px) {
  .box-left .box-subheader {
    display: none !important;
  }
}
@media screen and (max-width: 1000px) {
  .section-heading {
    display: block !important;
  }
  .section-heading .box-left {
    justify-content: space-between;
  }
  .section-heading .box-right {
    margin-top: 15px;
    justify-content: space-between !important;
  }
  .section-heading .box-right ul li {
    padding: 5px 20px 0 0 !important;
  }
}

/*# sourceMappingURL=index.css.map */
